
.project {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5rem 10rem;
    min-height: 100vh;
    background-color: rgb(0, 0, 0); 
    color: white;
    font-family: 'DejaVu Sans Mono', monospace;
    gap: 2rem; 
  }

  .project-item {
    background-color: rgba(255, 203, 5, 0.1); 
    border: 2px solid #ffcb05;
    border-radius: 10px;
    padding: 2rem;
    width: 30%; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .project-item:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); 
  }
  
  .project-item h3 {
    font-size: 2rem;
    color: #ffcb05; 
    margin-bottom: 1rem;
  }
  
  .project-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    animation: fadeInText 1.5s ease-in-out;
  }

  @keyframes fadeInText {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
  }
  

  @media (max-width: 1024px) {
    .project {
        flex-direction: column;
        padding: 2rem;
    }
  
    .project-item {
        width: 100%;
        margin-bottom: 2rem;
    }
  
    .project-item h3 {
        font-size: 1.8rem;
    }
  
    .project-item p {
        font-size: 1rem;
    }
  }
  